:root {
    --space: 8px;
  
    --white: #fff;
    --light-content: #9e9e9e;
    --content:#343a40;
    --content2: #404852;
    --mylight: #f8f9fa;
    --night: #1d2124;
    --black: #000000;
    --text-body: #0e0e0e;
  
    --light-green: #227E7193;
    --green: #113F39CC;
    --dark-green: #0A2522;
    --violet-nest: #150259;
    --darken-purple-nest: #0c0630;
    --jaune-nest: #F29F05;
    --abricot-nest: #F28705;
    --orange-nest: #F25C05;
    --shadow: rgb(0 0 0 / 59%);
    --title-color: #000;
    --excerpt-color: #6c757d;
    --excerpt2-color: var(--color-grey-88);
    --color-link: var(--title-color);
    --color-link-over: var(--orange-nest);
  

    --logo-color-1:#020659;
    --logo-color-2:#010440;
    --logo-color-3:#010326;
    --logo-color-4:#F29F05;
    --logo-color-5:#F20505;

  }