{% extends 'base.html.twig' %}

{% block title %}{{ post.title}} - Blog{% endblock %}

{% block body %}
<article class="">
    <header class="container px-5 py-20 mx-auto text-white header-post"   
	
		{% if post.filename is not null %}
		style="background-image: url('{{post.thumbnail.url}}');">
		{% else %}
		style="background-image: url('https://dummyimage.com/600x400/000/fff" ;">
		{% endif %}
	</header>
	
            <h1 class="font-bold">{{ post.title }}</h1>
    </header>
    <div class="container px-5 py-10 mx-auto">
        <p>
            {{ post.content | nl2br }}
        </p>
    </div>
</article>





{% endblock %}
