{% extends 'base.html.twig' %}

{% block title %}Live{% endblock %}

{% block body %}


<section class="px-5 py-5 livestream">
    <div class="container mx-auto">
        <h1 class="flex items-center pb-3">{{ icon('live-streaming', '30','fill-red' ) }} Stream</h1>
        {# <div style="padding-bottom: 56.25%; position: relative;">
            <iframe width="100%" height="100%"
                src="https://player.twitch.tv/?autoplay=false&channel=jamyan_&parent=beta.nest-gaming.fr" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;">
            </iframe>   
        </div> #}
        <div id="twitch-embed"></div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="https://embed.twitch.tv/embed/v1.js" ></script>
<script type="text/javascript">
    new Twitch.Embed("twitch-embed", {
        allowfullscreen: true,
        autoplay: true,
        muted: true,
        width:'100%',
        height: 580,
        channel: "jamyan_",
        // Only needed if this page is going to be embedded on other websites
        parent: ["beta.nest-gaming.fr", "nest-gaming.fr", 'www.nest-gaming.fr']
    });
</script>
{% endblock javascripts %}